# Ignorar carpetas de entorno virtual (Anaconda o venv)
.env/
.venv/
env/
venv/
__pycache__/

# Ignorar carpetas de JupyterLab
.ipynb_checkpoints/
.jupyter/
.local/
.history/

# Archivos de configuración de VSCode u otros editores
.vscode/
.idea/

# Archivos ocultos de sistema
.DS_Store
Thumbs.db

# Archivos de log o salidas temporales
*.log
*.out

# Datos sensibles o archivos grandes (opcional)
*.csv
*.h5
*.sqlite
*.db
*.bak

# Token de Jupyter
*.json
